
.Admin {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: #c7ccdb;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #767b91;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  background-color: #767b91;
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #2a324b;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1.25em;
}

.menu-open {
  background: #6d7fcc;
}

li:hover {
  color: #7386d5;
}

li{
  text-align: left;
}

.items-menu {
  color: #fff;
  background: #6d7fcc;
}

li img.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466b3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  height: auto;
}

@media only screen and (max-width: 500px) {
  body {
    overflow: auto;
    height: auto;
  }

  .content.is-open {
    margin-left: 5%;
    height: auto;
  }

  .sidebar.is-open {
    max-width: 100%;
    overflow-y: hidden;
    margin-left: 0;
    margin-right: auto;
    transition: all 0.5s, height 0s;
    height: inherit;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}
th {
  font-size: 14px;
}
td {
  font-size: 14px;
}
Card {
  width: 32.75rem;
}
.footer1 {
  background-color: #ff5c33;
  margin: 0px auto;
  color: white;
  bottom: 100%;
  position: center;
  text-align: center;
}

.footer2 {
  background-color: #5a5959;
  bottom: 0;
  width: 100%;
  height: 25%;
  position: relative;
  color: white;
  text-align-last: center;
}
.row{
  width: 100%;
  max-width: -webkit-fill-available;
  margin:auto;
  display: flex;
  flex-wrap: wrap;

}

.container-fluid{
  padding:0px;
}


