
 /*@import url("fonts.css");*/
 @import url("fontello/css/fontello.css");
 @import url("font-awesome/css/font-awesome.min.css");

html, body  {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 *,
 *:before,
 *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }



body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }

 ul { list-style: none outside; }

 .row {
    width: 96%;
    max-width: 1020px;
    margin: 0 auto;
 }

 .row:after {
    clear: both;
}

.row:after {
    content: " ";
    display: table;
}


header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../src/images/header-background.jpg) no-repeat top center;
    background-size: cover !important;
     -webkit-background-size: cover !important;
    text-align: center;
    overflow:overlay;
 }


 .Loginbutton,
 .Loginbutton:visited,
 button,
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
    font: 16px/30px 'opensans-bold', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #CC5200;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;
 

 }
 
.button:hover,
 button:hover,
 input[type="submit"]:hover,
 input[type="reset"]:hover,
 input[type="button"]:hover {
    background: #3d4145;
    color: #fff;
 }
 

 .column, .columns {
    position: relative;
    padding: 0 20px;
    min-height: 1px;
    float: left;
 }

 
 
 .item2 {
   grid-column-start: 2;
   grid-column-end: 3;  
 
 }

 header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   text-align: center;
}

header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #CC5200;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(179, 66, 66, 0.8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color:white;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px white;
}

header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color:#CC5200; }

header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

}

#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

#nav-wrap > a.mobile-btn { display: none; }


ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

ul#nav li a {
      display: inline-block;
      padding: 8px 13px;
      line-height: 32px;
      text-decoration: none;
      text-align: left;
      color: #fff;
   

   }
   
   ul#nav li.current a { color: #F06000; }


footer {
   padding-top: 48px;
   color: #303030; 
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: rgb(201, 5, 5); }

footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }


#nav-wrap ul, #nav-wrap li, #nav-wrap a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
}



@media screen and (max-width: 720px){
   #nav-wrap > .nav >li{
      text-align:center;
      display: block;
   }
}


* {
  box-sizing: border-box;
}
#BodyLogin{
  display: inline;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  position: relative;
  height: 800px;
  width: 100%;
  background-size: cover !important;
   -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

#LOGIN.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

#INNER_LOGIN.auth-inner {
  width: auto;
  margin: auto;
  background: linear-gradient(45deg, black, transparent);;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 40px 40px 40px;
  border-radius: 35px;
  transition: all .5s;
}

#LOGIN.auth-wrapper .form-control:focus {
  border-color: brown;
  box-shadow: none;
}

#LOGIN.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.custom-control-label {
  font-weight: 400;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

#form{
   text-align: left;
}